<div class="container-contact100">
  <div class="wrap-contact100">
    <%= form_for @contact, html: { class: "contact100-form validate-form"} do |f| %>
      <span class="contact100-form-title">
        <%= t :send_us_a_message %>
      </span>

      <label class="label-input100" for="first-name"><%= t :tell_us_your_name %></label>
      <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="<%= t :type_first_name %>">
        <%= f.text_field :first_name, class: "input100", placeholder: "#{Contact.human_attribute_name('first_name')}"%>
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="<%= t :type_last_name %>">
        <%= f.text_field :last_name, class: "input100", placeholder: "#{Contact.human_attribute_name('last_name')}"%>
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="email"><%= t :enter_your_email %></label>
      <div class="wrap-input100 validate-input" data-validate = "<%= t :valid_email_is_required %>: ex@abc.xyz">
        <%= f.text_field :email, class: "input100", placeholder: "Eg. example@email.com"%>
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="phone"><%= t :enter_phone_number %></label>
      <div class="wrap-input100">
        <%= f.text_field :mobile_number, class: "input100", id: "phone", placeholder: "Eg. +1 800 000000"%>
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="message"><%= t :message %></label>
      <div class="wrap-input100 validate-input" data-validate = "<%= t :message_is_required %>">
        <%= f.text_area :message, class: "input100", placeholder: "#{t :write_us_a_message}"%>
        <span class="focus-input100"></span>
      </div>

      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn">
          <%= t :send_message %>
        </button>
      </div>
    <% end %>

    <div class="contact100-more flex-col-c-m" style="background-image: url('images/bg-01.jpg');">
      <div class="flex-w size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-map-marker"></span>
        </div>

        <div class="flex-col size2">
          <span class="txt1 p-b-20">
            <%= t :address %>
          </span>

          <span class="txt2">
            <%= t :address_info %>
          </span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-phone-handset"></span>
        </div>

        <div class="flex-col size2">
          <span class="txt1 p-b-20">
            <%= t :lets_talk %>
          </span>

          <span class="txt3">
            +1 800 1236879
          </span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-envelope"></span>
        </div>

        <div class="flex-col size2">
          <span class="txt1 p-b-20">
            <%= t :general_support %>
          </span>

          <span class="txt3">
            contact@example.com
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>

